{% extends "base.html" %}
{% block title %}{{ request.script_root }}{{ bundle }}?{{ query_string }}{% endblock %}
{% block head_extra %}
    <link rel="stylesheet" href="/static/glightbox.min.css" />
    <script src="/static/minimasonry.min.js"></script>
    <script src="/static/glightbox.min.js"></script>
    <!--suppress CssUnusedSymbol -->
    <style>
        /* preserve space for scroll bar */
        html { overflow-y: scroll; }

        #menu {
            position: relative;
            margin: 0 auto 8px;
            padding: 5px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background: #eee;
        }

        #menu a {
            color: #055C9E;
        }

        #thumbnails {
            /* center */
            margin: 0 auto;
            position: relative;
        }
        .thumbnail {
            position: absolute;
            cursor: pointer;
        }
        .thumbnail img {
            max-width: 100%;
            height: auto;
        }
        .thumbnail img.lazy {
            opacity: 0;
            transform: scale(.8);
        }
        @keyframes fade-in {
            from {opacity: 0; transform: scale(.8)}
            to {opacity: 1;}
        }
        .fade-in-element {
            animation: fade-in 1s;
        }

        .gslide-desc {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
        }

        .gslide-desc > span {
            font-size: 90%;
        }

        .gslide-desc > span:before {
            content: '\2237';
            padding: 0 0.5em;
        }
        .gslide-desc a {
            cursor: pointer;
            color: #055C9E;
            text-decoration: underline;
        }
        .gslide-desc a.download {
            width: 1.4em;
            height: 1.4em;
            display: inline-block;
            stroke: #ffffff;
            vertical-align: text-bottom;
            margin-right: .7em;
        }

        /* Desktop */
        @media screen and (min-width: 737px) {
            body:after {
                content: 'screen-medium';
                display: none;
            }
        }
        /* Wide */
        @media screen and (min-width: 1201px) {
            body:after {
                content: 'screen-large';
                display: none;
            }
        }
        /* Mobile */
        @media screen and (max-width: 736px) {
            body:after {
                content: 'screen-small';
                display: none;
            }
            .gslide-desc > span.exif, .gslide-desc > span.author {
                display: none;
            }
        }
    </style>
{% endblock %}
{% block content %}
<div id="menu">
    <div><a href="/photos/index">Главная</a></div>
</div>
<div id="thumbnails">
</div>

<!--suppress JSUnusedAssignment -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    var currentQuery = '';
    var thumbnails = [];
    var windowHeight = window.innerHeight;

    document.loadLocation = loadLocation;
    window.addEventListener('popstate', function(e) {
        if (e.state)
            loadLocation(e.state.split('#')[0], false, null);
    });

    var thumbnailsElement = document.getElementById('thumbnails');
    var masonry = new MiniMasonry({
        container: thumbnailsElement,
        gutter: 10,
        surroundingGutter: false
    });

    windowSize();
    window.addEventListener('resize', windowSize);
    window.addEventListener('resize', checkPosition);
    window.addEventListener('scroll', checkPosition);

    var lightbox = GLightbox({
        selector: '.thumbnail',
        preload: false
    });
    lightbox.on('close', () => {
        if (history && history.replaceState) {
            var location = window.location.href.split('#')[0];
            history.replaceState(location, location, location);
        }
    });
    lightbox.on('slide_before_load', loadImageInfo);
    lightbox.on('slide_changed', ({ prev, current }) => {
        {% if config.GOOGLE_ANALYTICS %}
        if (typeof ga != 'undefined')
            ga('send', 'event', 'Gallery', 'view', thumbnails[current.slideIndex].path);
        {% endif %}
        var location = window.location.href.split('#')[0] + '#view-' + current.slideIndex + '-' + thumbnails[current.slideIndex].id;
        if (window.location.hash.startsWith('#view-'))
            history.replaceState(location, location, location);
        else
            history.pushState(location, location, location);
    });

    var query = window.location.origin + '{{ request.script_root }}{{ query }}';
    if (history && history.replaceState)
        history.replaceState(query, query);
    loadQuery(query);

    function addThumbnail(image) {
        image.thumbnail = '{{ request.script_root }}/thumbnail/' + image.id;
        //noinspection JSUnresolvedVariable
        image.title = image.description != null && image.description != "" ? image.description : image.name;
        image.download = '<a href="' + image.path + '?format=original" class="download">' +
            `<svg version="1.1" viewBox="0 0 32 32"><path fill="none" stroke-width="2" d="M29,17C29,17,29,17,29,17c0-3.3-2.7-6-6-6c-0.1,0-0.2,0-0.3,0c-0.9-2.9-3.5-5-6.7-5c-3.9,0-7,3.1-7,7c-1.9,0-3.5,1.3-3.9,3.1C2.8,16.5,1,18.5,1,21c0,2.8,2.2,5,5,5s17.9,0,20,0c2.8,0,5-2.2,5-5C31,19.4,30.2,17.9,29,17z"/><line fill="none" stroke-width="2" x1="16" y1="20.6" x2="16" y2="12"/><polyline fill="none" stroke-width="2" points="12,17 16,21 20,17 "/></svg>`
            + '</a>';

        var a = document.createElement('a');
        a.id = 'thumbnail' + image.id;
        a.className = 'thumbnail';
        a.href = image.path;
        a.setAttribute('data-image-index', '' + thumbnails.length);
        a.setAttribute('data-glightbox', "description: " +
                       '&#11123;&nbsp;' +
                       image.title);
        var img = document.createElement('img');
        img.addEventListener('load', function() {
            console.log(this.src);
        });
        img.id = 'thumbnail' + image.id;
        img.className = 'lazy';
        img.title = image.title;
        img.src = image.thumbnail + "?size=s";
        img.width = image.width;
        img.height = image.height;
        img.style.aspectRatio = image.width / image.height;
        img.loading = "lazy";
        img.sizes = "(max-width: 736px) 200px, 400px)";
        img.srcset = image.thumbnail + "?size=m 200w, " + image.thumbnail + "?size=l 400w";
        img.onauxclick = onThumbnailMiddleClick;
        a.appendChild(img);
        thumbnailsElement.appendChild(a);

        image.imageElement = a;
        thumbnails.push(image);
    }

    function loadQuery(query) {
        console.log("Load: " + query);
        console.log("Current: " + currentQuery);
        if (currentQuery == query) {
            return;
        }
        lightbox.close();
        currentQuery = query;
        var scrollTo = undefined;
        if (query.indexOf('?') < 0) {
            query = query + '?action=list';
        } else {
            var matches = query.match(/opener=(\d+)/);
            scrollTo = matches != null ? matches[1] : undefined;
            query = query + ';action=list';
        }
        console.log("Query: " + query);
        var xhr = new XMLHttpRequest();
        xhr.open('GET', query, true);
        xhr.responseType = 'json';
        xhr.onload = function(e) {
            if (xhr.readyState === 4) {
                if (xhr.status >= 200 && xhr.status < 400) {
                    if (e.target.response && e.target.response.redirect) {
                        window.location = e.target.response.redirect;
                        return;
                    }
                    thumbnails.length = 0;
                    var elements = thumbnailsElement.getElementsByClassName("thumbnail");
                    while (elements[0]) {
                        elements[0].parentNode.removeChild(elements[0]);
                    }
                    var images = e.target.response.images;
                    for (var i=0; i < images.length; i++)
                        addThumbnail(images[i]);
                    masonry.layout();
                    lightbox.reload();
                    checkPosition();
                    if (window.location.hash.startsWith('#view-')) {
                        var hs = window.location.hash.split('-');
                        lightbox.openAt(hs[1]);
                        scrollTo = hs[2];
                    }
                    if (scrollTo) {
                        console.log('scrollTo', scrollTo);
                        var thumbnail = document.getElementById('thumbnail' + scrollTo);
                        if (!thumbnail)
                            return;
                        thumbnail.scrollIntoView({behavior: 'smooth', block: 'center'});
                    }
                } else {
                    console.error(xhr.statusText);
                }
            }
        };
        xhr.onerror = function (e) {
            console.error(xhr.statusText);
            console.error(e);
        };
        xhr.send();
    }

    function loadLocation(newLocation, addHistory, event) {
        event = event || window.event;
        if (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
        }
        if (addHistory && history && history.pushState) {
            history.pushState(newLocation, newLocation, newLocation);
            {% if config.GOOGLE_ANALYTICS %}
                if (typeof ga != "undefined")
                ga('send', 'event', 'Gallery', 'show', newLocation);
            {% endif %}
        }
        loadQuery(newLocation);
        if (!!!window.location.hash)
            lightbox.close();
        else if (window.location.hash.substr(1) === 'view')
            lightbox.open();
    }

    function windowSize() {
        // Get media variant from CSS
        var afterElement = window.getComputedStyle ? window.getComputedStyle(document.body, ':after') : false;
        var after = afterElement.getPropertyValue('content').replace(/^["']|["']$/g, '');
        var thumbnail_width;

        // Update thumbnail width to correspond to CSS value
        if (after === 'screen-large') {
            thumbnail_width = {{ config.THUMBNAIL_WIDTH.l }};
        } else {
            thumbnail_width = {{ config.THUMBNAIL_WIDTH.m }};
        }

        windowHeight = window.innerHeight;

        if (typeof masonry !== 'undefined') {
            masonry.conf.baseWidth = thumbnail_width - 10;
            masonry.layout();
        }
    }

    function fadeIn(element) {
        element.classList.add('fade-in-element');
        element.classList.remove('lazy');
    }

    function checkPosition() {
        var images = document.querySelectorAll('img.lazy');
        for (var i = 0; i < images.length; i++) {
            var img = images[i];
            var positionFromTop = img.getBoundingClientRect().top;
            if (positionFromTop - windowHeight <= 0) {
                if (img.complete)
                    fadeIn(img);
                else
                    img.addEventListener('load', fadeIn.bind(null, img));
            }
        }
    }

    // triggers when user middle clicks on thumbnail
    var onThumbnailMiddleClick = function(event) {
        event.preventDefault();

        if (event.button != 1) {
            return;
        }

        // find root element of slide
        var clicked = event.target.closest('.thumbnail');

        if (!clicked) {
            return;
        }

        var index = clicked.getAttribute('data-image-index');
        if (index != null) {
            console.log(thumbnails[index]);
            window.open('{{ request.script_root }}' + thumbnails[index].bundle + '/' + thumbnails[index].name, '_blank');
        }

        return false;
    };

    function loadImageInfo(data) {
        const { slideIndex, slideNode, slideConfig, player, trigger } = data;
        // slideIndex - the slide index
        // slideNode - the node you can modify
        // slideConfig - will contain the configuration of the slide like title, description, etc.
        var image = thumbnails[slideIndex];
        if (!image.info) {
            image.info = true;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{{ request.script_root }}/info/' + image.id, true);
            xhr.responseType = 'json';
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status >= 200 && xhr.status < 400) {
                        var second = e.target.response;
                        for (var prop in second) {
                            if (second.hasOwnProperty(prop))
                                image[prop] = second[prop];
                        }
                        var labels = [];
                        for (var i in image.labels) {
                            //noinspection JSUnresolvedVariable
                            labels.push('<a onclick="loadLocation(window.location.origin + \'{{ request.script_root }}/?-filt.labels=' + image.labels[i].id +
                                        ';opener=' + image.id + '\', true, event); return false" class="label">' + image.labels[i].name + '</a>');
                        }
                        if (labels.length > 0) {
                            image.title += '<span class="labels">' + labels.join(', ') + '</span>';
                        }
                        if (image.exif) {
                            var exif = [];
                            if (image.exif.FocalLength) {
                                var fln = image.exif.FocalLength[0] / image.exif.FocalLength[1];
                                exif.push(fln + 'mm');
                            }
                            if (image.exif.ISOSpeedRatings) {
                                var iso = image.exif.ISOSpeedRatings;
                                exif.push('ISO ' + iso);
                            }
                            if (image.exif.ExposureTime) {
                                var exp, et0 = image.exif.ExposureTime[0], et1 = image.exif.ExposureTime[1];
                                if (et0 < et1) {
                                    if (et0 != 1) {
                                        et1 = et1 / et0;
                                    }
                                    exp = '1/' + et1;
                                } else {
                                    exp = et0 / et1;
                                }
                                exif.push(exp + 's');
                            }
                            if (image.exif.FNumber) {
                                var fnm = image.exif.FNumber[0] / image.exif.FNumber[1];
                                exif.push('f/' + fnm);
                            }
                            if (exif.length) {
                                image.title += '<span class="exif">' + exif.join(', ') + '</span>';
                            }
                        }
                        // if (image.author_name) {
                        //     image.title += '<span class="author">' + image.author_name + '</span>';
                        // }
                        slideConfig.description = image.download + image.title;
                        slideNode.querySelector('.gslide-desc').innerHTML = image.download + image.title;
                    } else {
                        console.error(xhr.statusText);
                    }
                }
            };
            xhr.onerror = function (e) {
                console.error(xhr.statusText);
                console.error(e);
            };
            xhr.send();
        }
    };
});
</script>
{% endblock %}
